{:linters
 {:clojure-lsp/unused-public-var
  {:level :warning
   :exclude #{s-exp.flex/limiter
              s-exp.flex.limit.fixed/make
              s-exp.flex.limit.aimd/make
              s-exp.flex.limit.gradient2/make
              s-exp.flex.limit.vegas/make
              s-exp.flex.protocols/state
              s-exp.flex.protocols/watch-limit!
              s-exp.flex.protocols/ignore!
              s-exp.flex.protocols/inc!
              s-exp.flex.protocols/rejected?
              s-exp.flex.interceptor/interceptor
              s-exp.flex.middleware/with-limiter}}}}
